# Core
streamlit
streamlit-option-menu
python-dotenv
pydantic
pydantic-settings
requests
tqdm

# LLM / Agents
langchain
langchain-core
langchain-community
langchain-groq

# RAG / Embeddings
faiss-cpu
sentence-transformers
numpy

# OCR (Image)
easyocr
opencv-python-headless
Pillow

# Audio
openai-whisper
torch
soundfile
